<p>
    Hello,<br>
    Their is Stock Mismatch in Stock Transfer Entry No. <b>{{outward}}</b> via Inward Entry
    {{inward}}
    {% for item in stock_items %}
    Item Code : <b>{{item.item_code}}</b><br>
    Item Name : <b>{{item.item_name}}</b><br>
    Transfered Stock : <b>{{item.tarnsfered}}</b><br>
    Received Stock : <b>{{item.received}}</b><br><br>
    {% endfor %}
</p>